$ship_light-pink: rgb(238, 227, 225);
$bg-light-grey:rgb(102, 102, 102);
$bg-cart-button:#EEE3E1;
$bg-medium-grey:rgb(119, 119, 119);
$bg-thick-grey:rgb(255, 255, 255);
$bg-light-black:rgb(36, 36, 36);
$bg-light2-black: rgb(51, 51, 51);
$bg-black:black;
$bg-white:white;
$bg-drop-light-hover-grey: rgb(214, 201, 201) ;
$bg-drop-light-grey:rgb(241, 241, 241);
$bg-thick-red:rgb(181, 8, 8);
$bg-thin-red:rgb(255, 0, 0);
$bg-grey-foot-dark:rgb(103, 103, 103);

$bg-green-light:rgb(0, 128, 0);


// batteries
$bg-medium-orange:#FF4500;
$bg-dark-violet:rgb(25,25,50);